<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Index</title>
    <!-- Include lz-string library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.3.7/lz-string.min.js"></script>
</head>
<body>
    <h1>Django Index</h1>

    <script>
        // Function to retrieve data from Redis and save to localStorage
        function fetchDataAndSaveToLocal() {
            const apiUrl = 'http://127.0.0.1:8000/get_sales_data/';

            // Make AJAX request to retrieve data from Redis
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    if (data["status"] === "success"){
                        localStorage.setItem('sales_data', data["data"]);  // data is already compressed in redis db with base64
                        console.log('Data retrieved and saved to localStorage:', data["data"]);
                    } else {
                        console.error('Error fetching data:', 'Error from endpoint')
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Function to retrieve and decompress data from localStorage
        function retrieveAndDecompressData() {
            const compressedData = localStorage.getItem('sales_data');
            if (compressedData) {
                // Decompress the data using lz-string
                const decompressedData = LZString.decompressFromBase64(compressedData);
                const jsonData = JSON.parse(decompressedData);
                console.log('Data retrieved and decompressed from localStorage:', jsonData);

                const orders = {};
                jsonData.forEach(item => {
                            const clientId = item.clientId;

                            if (!orders[clientId]) {
                                orders[clientId] = [];
                            }

                            const orderData = {
                                pedido_numero:item.pedido_numero,
                                pdvobj_id:clientId,
                                doc_tipo:item.doc_tipo,
                                doc_fecha:item.doc_fecha,
                                doc_numero:item.doc_numero,
                                anulado_040:item.anulado_040,
                                anulado_040_fecha:item.anulado_040_fecha,
                                anulado_040_por_gecos:item.anulado_040_por_gecos,
                                articulo_id: item.articulo_id,
                                precio_unitario: item.precio_unitario,
                                gravada_10: item.gravada_10,
                                iva_10: item.iva_10,
                            };

                            orders[clientId].push(orderData);
                });
                const ordersJSON = JSON.stringify(orders);
                const compressedOrdersJSON = LZString.compressToBase64(ordersJSON);
                localStorage.setItem('ordersData', compressedOrdersJSON);
                const retrievedData = localStorage.getItem('ordersData');
                if (retrievedData) {
                    const apiUrl = 'http://127.0.0.1:8000/save_orders_clients/';

                    fetch(apiUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ ordersData: retrievedData }),
                    })
                    .then(response => response.json())
                    .then(result => console.log('Data sent to the endpoint:', result))
                    .catch(error => console.error('Error sending data to the endpoint:', error));
                } else {
                    console.warn('No orders data found in localStorage');
                }
            } else {
                console.warn('No compressed data found in localStorage');
            }
        }

        // Call the functions when the page loads
        fetchDataAndSaveToLocal();
        retrieveAndDecompressData();
    </script>
</body>
</html>
